*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(245, 238, 238);
}
.main{
    width: 90vw;
    height: 80vh;
}
.main3{
    display: flex;
    background-color: white;
    width: 50vw;
    height: 70vh;
    border-radius: 10px;
    margin-top: 6%;
    margin-left: 25%;
}
.main3 img{
    width: 25vw;
    height: 70vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.perfume-content{
    margin-top: 40px;
    margin-left: 60px;
}
.prod p{
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 6px;
    font-family: 'Montserrat', sans-serif;
}
.perfname{
    margin-top: 50px;
    height: 20vh;
}
.perfname p{
    color: black;
    font-size: 50px;
    margin-top: 50px;
    line-height: 10px;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.perfname p span:first-child{
    line-height: 80px;
}
.perfname p:nth-child(2){
    margin-top: 10px;
}
.desr{
    margin-top: 20px;
    color: rgb(137, 134, 134);
    line-height: 30px;
    letter-spacing: 2px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
.price{
    display: flex;
    color: rgb(97, 153, 97);
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 20px;
    font-family: serif;
}
.price del{
    color: black;
    font-size: large;
    font-weight: normal;
    margin-left: 90px;
    margin-top: 7px;
}
.salebutton{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}
button{
    padding: 6px;
    width: 250px;
    background-color: rgb(54, 76, 54);
    color: white;
    height: 50px;
    border-radius: 15px;
    font-weight: bolder;
    margin-top: 7px;
}
button:hover{
    background-color: rgb(39, 74, 39);
}
button svg{
    margin-right: 10px;
    font-weight: bolder;
    margin-top:4px;
    margin-right: 15px;  
}

@media screen and (max-width: 1440px) and (min-width: 375px){
    
    .main3{
        display: block;
        width: 90vw;
        margin-left: 5%;
        height: 95vh;
    }
    .main img{
        display: block;
        width: 90vw;
        height: 40vh;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .perfume-content{
        margin-top: 20px;
        color: rgb(156, 152, 152);
        font-weight: bold;
        margin-left: 30px;
    }
   .perfname{
    margin-top: 15px;
    width: auto;
    height: auto;
   }
   .perfname p{
    font-size :25px;
    line-height: 20px;
    margin-top: 20px;
   }
   .desr{
    margin-top: 15px;
   }
   .price{
    margin-top: 6px;
   }
   .price del{
    margin-left: 20px;
    color: rgb(152, 152, 152);
   }
   .salebutton{
    margin-top: 10px;
    margin-left: 15px;
   }
   button{
    margin-top: 3px;
   }
}

